# Data analysis with `Pandas`

1. Introduction
2. The `Pandas` `Series` Object
3. The `Pandas` `DataFrame` Object
4. Data selection in `DataFrame`
5. Operations on `DataFrame`

## Introduction

In this section, we will examining the data structures provided by the `Pandas` library in greater depth. `Pandas` is a more recent package built on top of `NumPy`, offering an efficient implementation of a `DataFrame`. **`DataFrames` essentially comprise multidimensional arrays with attached row and column labels, often containing data with different types and/or missing data**. In addition to providing a convenient storage interface for labeled data, `Pandas` implements numerous powerful data operations familiar to users of both <u>database</u> frameworks and <u>spreadsheet</u> programs.

`Pandas`, particularly its `Series` and `DataFrame` objects, builds on the `NumPy` array structure and facilitates efficient access to the types of "data munging" tasks that occupy a significant portion of a data scientist's workload.

In [1]:
package_name = "pandas"

try:
    __import__(package_name)
    print(f"{package_name} is already installed.")
except ImportError:
    print(f"{package_name} not found. Installing...")
    %pip install {package_name}

pandas is already installed.

Just as we typically import `NumPy` under the alias `np`, we will import `Pandas` under the alias `pd`:

In [2]:
import numpy as np
import pandas as pd

## Introducing  `Pandas` `Series` Object

Fundamentally, `Pandas` objects can be considered as enhance versions of `NumPy` arrays, with the key distinction being that rows and columns are identified by labels rather than basic integer indices. Before delving deeper, let's examine these three essential `Pandas` data structures: the `Series`, `DataFrame`, and `Index`.

### Construct `Series` with `list` or `array`:

A one-dimensional array of indexed data can be represented by a `Pandas` `Series`, which can be created from a `list` or an `array` using the method below:

In [3]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

Note that a `Series` combines a sequence of `values` with a distinct sequence of `indices`, accessible through the `values` and `index` attributes. Essentially, the `values` make up a `NumPy` array:

In [4]:
data.values, data.dtype

(array([0.25, 0.5 , 0.75, 1.  ]), dtype('float64'))

The `index` is an `array`-like object of the `pd.Index` type, which we'll delve into more shortly:

In [5]:
data.index, issubclass(type(data.index), pd.Index)

(RangeIndex(start=0, stop=4, step=1), True)

Like a `NumPy` array, data can be accessed via its associated index using the square-bracket notation in `Python`:

In [6]:
data[1]

0.5

In [7]:
data[1:3] # Slicing works

1    0.50
2    0.75
dtype: float64

In [8]:
data[[1,3]] # Fancy indexing also works

1    0.5
3    1.0
dtype: float64

From our observations so far, the `Series` object might appear almost the same as a one-dimensional `NumPy` `array`. However, a crucial difference is that a `NumPy` `array` uses an implicitly defined integer index for value access, whereas the `Pandas` `Series` has an **explicitly defined index linked to the values**. As a result, the `index` is not limited to `integer` values and can include any desired type. This means that we can use `strings` as an index if we choose to do so:

In [9]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data, data.index

(a    0.25
 b    0.50
 c    0.75
 d    1.00
 dtype: float64,
 Index(['a', 'b', 'c', 'd'], dtype='object'))

And the item access works as expected:

In [10]:
data['b']

0.5

In [11]:
data['b':'d'] # Slicing works

b    0.50
c    0.75
d    1.00
dtype: float64

In [12]:
data[['a','d']] # Fancy indexing also works

a    0.25
d    1.00
dtype: float64

### Construct series with `dictionary`:

A `Pandas` `Series` can also be thought of as a specialized version of a `Python` `dictionary`. In a `Series`, typed `keys` are associated with a collection of typed `values`. This typing aspect is vital: similar to how the type-specific compiled code behind a `NumPy` `array` improves its efficiency compared to a `Python` `list` for certain operations, the type information within a `Pandas` `Series` makes it more efficient than `Python` `dictionaries` for specific tasks.

We can thus construct a `Series` object directly from a `Python` `dictionary`, here the six most populous cities according to the 2023 census:

In [13]:
population_dict = {'New Taipei City': 4_013_659, 'Taichung City': 2_826_230, 'Kaohsiung City': 2_733_964, 'Taipei City': 2_465_610, 
                   'Taoyuan City': 2_293_509, 'Tainan City': 1_859_229}
population = pd.Series(population_dict)
population

New Taipei City    4013659
Taichung City      2826230
Kaohsiung City     2733964
Taipei City        2465610
Taoyuan City       2293509
Tainan City        1859229
dtype: int64

Typical dictionary-style item access can be performed:

In [14]:
population['New Taipei City']

4013659

Unlike a `dictionary`, though, the `Series` also supports `array`-style operations such as slicing:

In [15]:
population['New Taipei City':'Kaohsiung City']

New Taipei City    4013659
Taichung City      2826230
Kaohsiung City     2733964
dtype: int64

### The `Pandas` `Index` Object

The `Index` object itself is quite intriguing and can be considered either as an immutable `array` or as a multiset. These perspectives lead to some fascinating implications regarding the operations that can be performed on `Index` objects. For a basic example, let's create an `Index` using a list of `integers`:

In [ ]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

In several aspects, the `Index` functions like an `array`. For instance, we can employ the conventional `Python` indexing notation to obtain `values`:

In [ ]:
ind[1]

In [ ]:
ind[::2] # Slicing also works

`Index` objects possess numerous attributes commonly found in `NumPy` `arrays`:

In [ ]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

However, it is immutable, so we cannot modify it via normal means:

In [ ]:
ind[1] = 0

`Pandas` objects are structured to support operations like joins across datasets, which rely on various aspects of set arithmetic. The `Index` object adheres to many conventions employed by `Python`'s built-in `set` data structure, allowing for the computation of unions, intersections, differences, and other combinations in a familiar manner:

In [ ]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [ ]:
indA.intersection(indB)

In [ ]:
indA.union(indB)

### Indexers: `loc` and `iloc`

When our `Series` has an explicit integer `index`, an indexing operation like `data[1]` will utilize the explicit indices, while a slicing operation, such as `data[1:3]`, will employ the implicit Python-style indices:

In [16]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [17]:
data[1] # explicit index when indexing

'a'

In [18]:
data[1:3] # implicit index when slicing

3    b
5    c
dtype: object

Due to the possible ambiguity with integer indexes, `Pandas` offers special indexer attributes that clearly present specific indexing schemes. **These attributes are not functional methods, but rather provide a distinct slicing interface to the data within the `Series`**.

First, the `loc` attribute allows indexing and slicing that always references the explicit index:

In [19]:
data.loc[1]

'a'

In [20]:
data.loc[1:3] # Note that contrary to usual python slices, both the start and the stop are included

1    a
3    b
dtype: object

The `iloc` attribute allows indexing and slicing that always references the implicit Python-style index:

In [21]:
data.iloc[1]

'b'

In [22]:
data.iloc[1:3]

3    b
5    c
dtype: object

A key principle of `Python` code states that "explicit is better than implicit." The clear-cut nature of `loc` and `iloc` contributes to maintaining clean and comprehensible code. Particularly when dealing with integer indexes, consistently using these attributes can help avoid subtle bugs arising from the mixed indexing/slicing convention!

## Example 1: Manipulating a `Series` with Population Data

```python
population_dict = {'New Taipei City': 4_013_659, 'Taichung City': 2_826_230, 'Kaohsiung City': 2_733_964, 'Taipei City': 2_465_610, 'Taoyuan City': 2_293_509, 'Tainan City': 1_859_229}
```

Begin by converting the dictionary into a `pandas` `series`. Then, extract the population numbers for New Taipei City and Kaohsiung City using both `iloc` and `loc` attributes.

In [ ]:
population_dict = {'New Taipei City': 4_013_659, 'Taichung City': 2_826_230, 'Kaohsiung City': 2_733_964, 
                   'Taipei City': 2_465_610, 'Taoyuan City': 2_293_509, 'Tainan City': 1_859_229}
# Your code here

## The `Pandas` `DataFrame` Object

Unlike a `NumPy` array, a `Dataframe` can combine multiple data types, such as numbers and text, but the data in each column is of the same type.

### Constructor

#### From a `dictionary` of `Series` objects to `Dataframe`

A `Series` can be seen as an equivalent of a one-dimensional array with explicit indices, while a `DataFrame` serves as an analog of a two-dimensional `array` with explicit row and column indices. Just as a two-dimensional array can be considered an ordered sequence of aligned one-dimensional columns, a `DataFrame` can be thought of as a sequence of aligned `Series` objects. By "aligned," we mean that they have the same index.

For example, we can merge two `series` together:

In [23]:
population_dict = {'New Taipei City': 4_013_659, 'Taichung City': 2_826_230, 'Kaohsiung City': 2_733_964, 'Taipei City': 2_465_610, 
                   'Taoyuan City': 2_293_509, 'Tainan City': 1_859_229}
population = pd.Series(population_dict)

area_dict = {'New Taipei City': 2_052.5667, 'Taichung City': 2_214.8968, 'Kaohsiung City': 2_951.8524, 'Taipei City': 271.7997, 
             'Taoyuan City': 1_220.9540, 'Tainan City': 2_191.6531}
area = pd.Series(area_dict)

# Construct a single two-dimensional object containing this information using dictionary
cities = pd.DataFrame({'population': population,'area': area})
cities

                 population       area
New Taipei City     4013659  2052.5667
Taichung City       2826230  2214.8968
Kaohsiung City      2733964  2951.8524
Taipei City         2465610   271.7997
Taoyuan City        2293509  1220.9540
Tainan City         1859229  2191.6531

Similar to the `Series` object, the `DataFrame` possesses an `index` attribute, which provides access to the index labels:

In [24]:
cities.index

Index(['New Taipei City', 'Taichung City', 'Kaohsiung City', 'Taipei City',
       'Taoyuan City', 'Tainan City'],
      dtype='object')

Moreover, the `DataFrame` features a `columns` attribute, which is an `Index` object containing the column labels:

In [25]:
cities.columns, issubclass(type(cities.columns), pd.Index)

(Index(['population', 'area'], dtype='object'), True)

As such, the `DataFrame` can be regarded as an extension of a two-dimensional `NumPy` `array`, in which both rows and columns possess a generalized index for data access. In the same vein, a `DataFrame` can be viewed as a specialized form of a `dictionary`. While a `dictionary` associates a key with a value, a `DataFrame` connects a column name to a `Series` containing column data. For instance, requesting the `'area'` attribute yields the `Series` object:

In [26]:
cities['area']

New Taipei City    2052.5667
Taichung City      2214.8968
Kaohsiung City     2951.8524
Taipei City         271.7997
Taoyuan City       1220.9540
Tainan City        2191.6531
Name: area, dtype: float64

#### Constructing from a list of dicts

A `DataFrame` can be created from any list of `dictionaries`. Let's use a basic list comprehension to generate some data:

In [27]:
data = [{'a': i, 'b': 2 * i} for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

Observe that if some keys in the `dictionary` are absent, `Pandas` will complete them with `NaN` (meaning "not a number") values:

In [28]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

#### Constructing from a two-dimensional `NumPy` array

With a two-dimensional `array` of data, we can generate a `DataFrame` that includes specified column and index names. If these are not provided, an integer index will be applied for each:

In [29]:
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

        foo       bar
a  0.532861  0.283637
b  0.608925  0.066374
c  0.130736  0.909284

## Data selection in `DataFrame`

Remember that a `DataFrame` functions in several ways like a two-dimensional `array`, and in other ways, it resembles a `dictionary` of `Series` structures with a shared index. Keeping these similarities in mind can be beneficial as we delve into data selection within this structure.

### `DataFrame` as `Dictionary`

Our first comparison is the `DataFrame` viewed as a `dictionary` of connected `Series` objects. Let's revisit our example of city areas and populations:

In [30]:
population_dict = {'New Taipei City': 4_013_659, 'Taichung City': 2_826_230, 'Kaohsiung City': 2_733_964, 'Taipei City': 2_465_610, 
                   'Taoyuan City': 2_293_509, 'Tainan City': 1_859_229}
population = pd.Series(population_dict)

area_dict = {'New Taipei City': 2_052.5667, 'Taichung City': 2_214.8968, 'Kaohsiung City': 2_951.8524, 'Taipei City': 271.7997, 
             'Taoyuan City': 1_220.9540, 'Tainan City': 2_191.6531}
area = pd.Series(area_dict)

# Construct a single two-dimensional object containing this information using dictionary
cities = pd.DataFrame({'population': population,'area': area})
cities

                 population       area
New Taipei City     4013659  2052.5667
Taichung City       2826230  2214.8968
Kaohsiung City      2733964  2951.8524
Taipei City         2465610   271.7997
Taoyuan City        2293509  1220.9540
Tainan City         1859229  2191.6531

The individual `Series` comprising the columns of the `DataFrame` can be obtained by dictionary-style indexing of the column name:

In [31]:
cities['area'] # cities.area also works

New Taipei City    2052.5667
Taichung City      2214.8968
Kaohsiung City     2951.8524
Taipei City         271.7997
Taoyuan City       1220.9540
Tainan City        2191.6531
Name: area, dtype: float64

This dictionary-style syntax can also be utilized to modify the object; in this scenario, it adds a new column:

In [32]:
cities['density'] = cities['population'] / cities['area']
cities

                 population       area      density
New Taipei City     4013659  2052.5667  1955.434140
Taichung City       2826230  2214.8968  1276.009790
Kaohsiung City      2733964  2951.8524   926.185876
Taipei City         2465610   271.7997  9071.422816
Taoyuan City        2293509  1220.9540  1878.456518
Tainan City         1859229  2191.6531   848.322666

### `DataFrame` as two-dimensional `array`

As we mentioned earlier, we can also see the `DataFrame` as an augmented two-dimensional `array`. We can analyze the raw, underlying data array using the `values` attribute:

In [33]:
cities.values # or cities.to_numpy()

array([[4.01365900e+06, 2.05256670e+03, 1.95543414e+03],
       [2.82623000e+06, 2.21489680e+03, 1.27600979e+03],
       [2.73396400e+06, 2.95185240e+03, 9.26185876e+02],
       [2.46561000e+06, 2.71799700e+02, 9.07142282e+03],
       [2.29350900e+06, 1.22095400e+03, 1.87845652e+03],
       [1.85922900e+06, 2.19165310e+03, 8.48322666e+02]])

Keep in mind that while the square bracket operator can be utilized to access columns, it is not used for row selection:

In [34]:
cities['area']

New Taipei City    2052.5667
Taichung City      2214.8968
Kaohsiung City     2951.8524
Taipei City         271.7997
Taoyuan City       1220.9540
Tainan City        2191.6531
Name: area, dtype: float64

In [35]:
cities['Kaohsiung City']

KeyError: 'Kaohsiung City'

There are a few other indexing conventions that might appear counterintuitive but can be beneficial in practice. **To begin with, while indexing refers to columns, slicing refers to rows!**

In [36]:
cities['Taichung City':'Taipei City']

                population       area      density
Taichung City      2826230  2214.8968  1276.009790
Kaohsiung City     2733964  2951.8524   926.185876
Taipei City        2465610   271.7997  9071.422816

Such slices can also refer to rows by number rather than by index:

In [37]:
cities[1:4]

                population       area      density
Taichung City      2826230  2214.8968  1276.009790
Kaohsiung City     2733964  2951.8524   926.185876
Taipei City        2465610   271.7997  9071.422816

For explicit indexing, `Pandas` employs the `loc` and `iloc` indexers mentioned earlier. By using the `iloc` indexer, we can index the underlying array as if it were a standard `NumPy` array (using the implicit Python-style index). However, the `DataFrame` index and column labels are retained in the result:

In [38]:
cities.iloc[:3, :2]

                 population       area
New Taipei City     4013659  2052.5667
Taichung City       2826230  2214.8968
Kaohsiung City      2733964  2951.8524

Similarly, by using the `loc` indexer, we can index the underlying data in a manner similar to the `array`-like style, but with the explicit index and column names:

In [39]:
cities.loc[:'Kaohsiung City', :'area']

                 population       area
New Taipei City     4013659  2052.5667
Taichung City       2826230  2214.8968
Kaohsiung City      2733964  2951.8524

Within these indexers, all of the familiar `NumPy`-style data access patterns can be utilized. For example, in the `loc` indexer, we can combine fancy indexing and <u>masking</u> in the following manner:

In [40]:
cities.loc[cities.density > 1500, ['population', 'density']]

                 population      density
New Taipei City     4013659  1955.434140
Taipei City         2465610  9071.422816
Taoyuan City        2293509  1878.456518

### Insertion or deletion of data

We can also delete the column or rows of a `DataFrame`:

In [41]:
cities2 = cities.copy()
cities2

                 population       area      density
New Taipei City     4013659  2052.5667  1955.434140
Taichung City       2826230  2214.8968  1276.009790
Kaohsiung City      2733964  2951.8524   926.185876
Taipei City         2465610   271.7997  9071.422816
Taoyuan City        2293509  1220.9540  1878.456518
Tainan City         1859229  2191.6531   848.322666

In [42]:
cities2.drop('Taoyuan City') # drop an row

                 population       area      density
New Taipei City     4013659  2052.5667  1955.434140
Taichung City       2826230  2214.8968  1276.009790
Kaohsiung City      2733964  2951.8524   926.185876
Taipei City         2465610   271.7997  9071.422816
Tainan City         1859229  2191.6531   848.322666

> Note that the `drop()` function simply returns the modified `DataFrame` object. If we want to alter the existing `DataFrame`, employ the `inplace` keyword argument.

A column can be removed by specifying its name and the `axis` parameter:

In [43]:
cities2.drop('density', axis='columns') # or axis=1

                 population       area
New Taipei City     4013659  2052.5667
Taichung City       2826230  2214.8968
Kaohsiung City      2733964  2951.8524
Taipei City         2465610   271.7997
Taoyuan City        2293509  1220.9540
Tainan City         1859229  2191.6531

Adding a row is slightly more involved. We already understand how to add a column, so we'll now demonstrate how to insert a column at a specific location. We can accomplish this using the `insert()` method:

In [44]:
cities2.insert(1, 'multiplication', cities2['population'] * cities2['area']) # This will insert a new column at index 1 in place
cities2

                 population  multiplication       area      density
New Taipei City     4013659    8.238303e+09  2052.5667  1955.434140
Taichung City       2826230    6.259808e+09  2214.8968  1276.009790
Kaohsiung City      2733964    8.070258e+09  2951.8524   926.185876
Taipei City         2465610    6.701521e+08   271.7997  9071.422816
Taoyuan City        2293509    2.800269e+09  1220.9540  1878.456518
Tainan City         1859229    4.074785e+09  2191.6531   848.322666

## Exercise 1: Considering the following dataset:
```python
population_data = {'New Taipei City': 4_013_659, 'Taichung City': 2_826_230, 'Kaohsiung City': 2_733_964, 'Taipei City': 2_465_610, 'Taoyuan City': 2_293_509, 'Tainan City': 1_859_229}
population_series = pd.Series(population_data)
territory_data = {'New Taipei City': 2_052.5667, 'Taichung City': 2_214.8968, 'Kaohsiung City': 2_951.8524, 'Taipei City': 271.7997, 'Taoyuan City': 1_220.9540, 'Tainan City': 2_191.6531}
territory_series = pd.Series(territory_data)
division_count = {'New Taipei City': 29, 'Taichung City': 29, 'Kaohsiung City': 38, 'Taipei City': 12, 'Taoyuan City': 13, 'Tainan City': 37}
division_series = pd.Series(division_count)
```

Start by creating a `DataFrame` that integrates the `territory_series`, `population_series`, and `division_series` into columns named `area`, `population`, and `subdiv_cnt`, respectively. Subsequently, retrieve the `area` and `population` values for Taichung City, Kaohsiung City, and Taipei City using both the `iloc` and `loc` attributes.

In [ ]:
population_data = {'New Taipei City': 4_013_659, 'Taichung City': 2_826_230, 'Kaohsiung City': 2_733_964, 
                   'Taipei City': 2_465_610, 'Taoyuan City': 2_293_509, 'Tainan City': 1_859_229}
population_series = pd.Series(population_data)

territory_data = {'New Taipei City': 2_052.5667, 'Taichung City': 2_214.8968, 'Kaohsiung City': 2_951.8524, 
                  'Taipei City': 271.7997, 'Taoyuan City': 1_220.9540, 'Tainan City': 2_191.6531}
territory_series = pd.Series(territory_data)

division_count = {'New Taipei City': 29, 'Taichung City': 29, 'Kaohsiung City': 38, 
                  'Taipei City': 12, 'Taoyuan City': 13, 'Tainan City': 37}
division_series = pd.Series(division_count)
# Your code here

## Operations on `DataFrame`

### Selection and queries

We can select the first or last `n` rows of a `DataFrame` using the `head()` and `tail()` methods, respectively:

In [45]:
cities.head(2)

                 population       area     density
New Taipei City     4013659  2052.5667  1955.43414
Taichung City       2826230  2214.8968  1276.00979

In [46]:
cities.tail(2)

              population       area      density
Taoyuan City     2293509  1220.9540  1878.456518
Tainan City      1859229  2191.6531   848.322666

More complex filtering or selection operations can be done using [`query()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.query.html) method:

In [47]:
cities.query('area > 2200')

                population       area      density
Taichung City      2826230  2214.8968  1276.009790
Kaohsiung City     2733964  2951.8524   926.185876

Note that we can use a more concise expression here than simple masking.

### Numerical methods

`Pandas` inherits much of this functionality from `NumPy`, including the `ufuncs`, but it has a few more useful features: for unary operations, such as negation and trigonometric functions, these `ufuncs` will **retain index and column labels in the output**. For binary operations, such as addition and multiplication, `Pandas` will automatically **align indices** when passing the objects to the `ufunc`.

#### `Ufuncs`: Index preservation

Any `NumPy` `ufunc` can be applied to `Pandas` `Series` and `DataFrame` objects. Let's begin by defining a simple `Series` and `DataFrame` to demonstrate this:

In [48]:
np.random.seed(42)
ser = pd.Series(np.random.randint(0, 10, 4))
ser

0    6
1    3
2    7
3    4
dtype: int32

In [49]:
df = pd.DataFrame(np.random.randint(0, 10, (3, 4)),
                 columns=['A', 'B', 'C', 'D'])
df

   A  B  C  D
0  6  9  2  6
1  7  4  3  7
2  7  2  5  4

If we apply a `NumPy` `ufunc` to either of these objects, the outcome will be another `Pandas` object in which the indices are retained:

In [50]:
-ser

0   -6
1   -3
2   -7
3   -4
dtype: int32

In [51]:
np.sin(df * np.pi/4)

          A             B         C             D
0 -1.000000  7.071068e-01  1.000000 -1.000000e+00
1 -0.707107  1.224647e-16  0.707107 -7.071068e-01
2 -0.707107  1.000000e+00 -0.707107  1.224647e-16

#### `Ufuncs`: Index alignment

For binary operations involving two `Series` or `DataFrame` objects, `Pandas` will align indices while performing the operation.

In [52]:
population_dict = {'New Taipei City': 4_013_659, 'Kaohsiung City': 2_733_964, 'Taipei City': 2_465_610, 
                   'Taoyuan City': 2_293_509, 'Tainan City': 1_859_229}
population = pd.Series(population_dict)

area_dict = {'Taipei City': 271.7997, 'New Taipei City': 2_052.5667	, 'Taichung City': 2_214.8968,  
             'Taoyuan City': 1_220.9540, 'Tainan City': 2_191.6531}
area = pd.Series(area_dict)

population / area

Kaohsiung City             NaN
New Taipei City    1955.434140
Taichung City              NaN
Tainan City         848.322666
Taipei City        9071.422816
Taoyuan City       1878.456518
dtype: float64

The resulting array contains the union of indices of the two input arrays, which could be determined directly from these indices:

In [53]:
area.index.union(population.index)

Index(['Kaohsiung City', 'New Taipei City', 'Taichung City', 'Tainan City',
       'Taipei City', 'Taoyuan City'],
      dtype='object')

Any item for which either of the objects does not have an entry will be marked with `NaN`. A similar sort of alignment is done for both columns and indices while performing operations on `DataFrame` objects:

In [54]:
A = pd.DataFrame(np.random.randint(0, 20, (2, 2)),
                 columns=['a', 'b'])
A

   a   b
0  1  11
1  5   1

In [55]:
B = pd.DataFrame(np.random.randint(0, 10, (3, 3)),
                 columns=['b', 'a', 'c'])
B

   b  a  c
0  4  0  9
1  5  8  0
2  9  2  6

In [56]:
A + B

      a     b   c
0   1.0  15.0 NaN
1  13.0   6.0 NaN
2   NaN   NaN NaN

Observe that the indices are correctly aligned regardless of their order in the two objects, and that the indices in the resulting object are sorted.

`pandas` is a popular open-source data manipulation library for `Python` that provides easy-to-use data structures and data analysis tools for working with structured data, such as tabular, time-series, and matrix data. It allows users to perform various data operations, such as filtering, merging, grouping, and reshaping data, as well as performing statistical computations. The library's core data structures are the `Series` (a one-dimensional labeled array) and `DataFrame` (a two-dimensional labeled data structure with columns of potentially different data types). Overall, `pandas` is a versatile and powerful tool for data wrangling and analysis in `Python`.

## Exercise 2: Considering the following dataset:
```python
population_data = {'New Taipei City': 4_013_659, 'Taichung City': 2_826_230, 'Kaohsiung City': 2_733_964, 'Taipei City': 2_465_610, 'Taoyuan City': 2_293_509, 'Tainan City': 1_859_229}
population_series = pd.Series(population_data)
territory_data = {'New Taipei City': 2_052.5667, 'Taichung City': 2_214.8968, 'Kaohsiung City': 2_951.8524, 'Taipei City': 271.7997, 'Taoyuan City': 1_220.9540, 'Tainan City': 2_191.6531}
territory_series = pd.Series(territory_data)
division_count = {'New Taipei City': 29, 'Taichung City': 29, 'Kaohsiung City': 38, 'Taipei City': 12, 'Taoyuan City': 13, 'Tainan City': 37}
division_series = pd.Series(division_count)
```

Begin by forming a `DataFrame` that combines `territory_series` and `division_series` as columns labeled `area` and `subdiv_cnt`. Afterward, introduce a new `density` column to the dataframe by dividing `population_series` by the `area` column.

In [ ]:
population_data = {'New Taipei City': 4_013_659, 'Taichung City': 2_826_230, 'Kaohsiung City': 2_733_964, 
                   'Taipei City': 2_465_610, 'Taoyuan City': 2_293_509, 'Tainan City': 1_859_229}
population_series = pd.Series(population_data)

territory_data = {'New Taipei City': 2_052.5667, 'Taichung City': 2_214.8968, 'Kaohsiung City': 2_951.8524, 
                  'Taipei City': 271.7997, 'Taoyuan City': 1_220.9540, 'Tainan City': 2_191.6531}
territory_series = pd.Series(territory_data)

division_count = {'New Taipei City': 29, 'Taichung City': 29, 'Kaohsiung City': 38, 
                  'Taipei City': 12, 'Taoyuan City': 13, 'Tainan City': 37}
division_series = pd.Series(division_count)
# Your code here

## More operation on `Dataframe`

Some of the most fascinating analyses of data arise from merging different data sources. `Series` and `DataFrames` are constructed with this type of operation in mind, and `Pandas` provides functions and methods that make this sort of data manipulation quick and simple.

For convenience, we'll define the following functions, which will be beneficial in the following examples:

In [ ]:
from IPython.display import display, HTML

def make_df(cols, ind):
    """Quickly make a DataFrame"""
    data = {c: [str(c) + str(i) for i in ind]
                for c in cols}
    return pd.DataFrame(data, ind)


# A function to display two dataframe or series side-by-side
def display_s(*args):
    html_str = '<table><tr style="text-align: left;">'
    
    for arg in args:
        html_str += f'<td style="text-align: center; padding-right: 20px;"><b>{arg}</b></td>'
    html_str += '</tr><tr>'
    
    for arg in args:
        evaluated_arg = eval(arg)
        if isinstance(evaluated_arg, pd.DataFrame):
            df_styled = evaluated_arg.style.set_table_styles([{
                'selector': 'th',
                'props': [('background-color', 'gray')]
            }]).to_html()
            html_str += f'<td style="vertical-align: top; padding-right: 20px;">{df_styled}</td>'
        elif isinstance(evaluated_arg, pd.Series):
            series_styled = evaluated_arg.to_frame().style.set_table_styles([{
                'selector': 'th',
                'props': [('background-color', 'gray')]
            }]).to_html()
            html_str += f'<td style="vertical-align: top; padding-right: 20px;">{series_styled}</td>'
            
    html_str += '</tr></table>'
    display(HTML(html_str))

### Combining Datasets: `concat()`

`pd.concat()` can be utilized to concatenate `Series` or `DataFrame` objects, just as `np.concatenate()` can be used to concatenate `arrays`:

In [ ]:
df1 = make_df('AB', [0, 1])
df2 = make_df('AB', [0, 1])
display_s('df1', 'df2', 'pd.concat([df1, df2], ignore_index=True)')

Note that if we use the `ignore_index` flag, the concatenation will generate a new integer index for the resulting `DataFrame`. Furthermore, by default, the concatenation is performed row-wise within the `DataFrame` (i.e., `axis=0`). `pd.concat()` also allows the specification of an `axis` along which the concatenation will occur:

In [ ]:
df3 = make_df('AB', [0, 1])
df4 = make_df('CD', [0, 1])
display_s('df3', 'df4', "pd.concat([df3, df4], axis='columns')") # or axis=1

### Aggregation and Grouping

A fundamental aspect of many data analysis tasks is efficient summarization, which involves computing aggregations such as sum, mean, median, min, and max, wherein a single number summarizes aspects of a potentially large dataset.

In [ ]:
df = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)
df

For a `DataFrame`, by default, the aggregates will return results within each column:

In [ ]:
display_s('df', 'df.mean()')

By specifying the `axis` argument, we can instead aggregate within each row:

In [ ]:
display_s('df', 'df.mean(axis=1)')

Furthermore, there is a convenience method called `describe()` that calculates several common statistics for each column and returns the result:

In [ ]:
df.describe()

Simple aggregations can give us a glimpse of our dataset, but often we would prefer to aggregate conditionally on some label or index. This is accomplished through the `groupby()` operation. The most basic operation can be computed using the `groupby()` method of the `DataFrame`, by passing the name of the desired column:

In [ ]:
display_s('df', 'df.groupby("A").sum()')

Note that the result is a `DataFrameGroupBy` object, which is a special view of the `DataFrame`. No actual computation will occur until the aggregation is applied. To produce a result, we can apply an aggregate to this `DataFrameGroupBy` object, which will perform the appropriate apply/combine steps to produce the desired result.

### Sorting the `Dataframe`

We can sort a `DataFrame` using the `sort_values()` method:

In [ ]:
df = pd.DataFrame(
    {
        "key": ["A", "B", "C", "A", "B", "C"],
        "data": range(6),
        "data2": range(6, 12),
    },
    columns=["key", "data", "data2"],
)
df

To perform sorting on a column, use the keyword `by` followed by the column name. We can then specify the sorting order using the `ascending` keyword for ascending order:

We can also sort a `Dataframe` by making use of the `sort_index()` method.

In [ ]:
df.sort_index(ascending=False)

It is also possible to specify the `axis` along which the sorting should be performed:

In [ ]:
df.sort_index(axis=1)

## References

1. [https://jakevdp.github.io/PythonDataScienceHandbook/#3.-Data-Manipulation-with-Pandas](https://jakevdp.github.io/PythonDataScienceHandbook/#3.-Data-Manipulation-with-Pandas)

2. [https://realpython.com/pandas-dataframe/](https://realpython.com/pandas-dataframe/)

3. [https://realpython.com/pandas-iterate-over-rows/](https://realpython.com/pandas-iterate-over-rows/)

## Key terms

- **Missing Data**: Missing data refers to the absence of values in a dataset. In Python, particularly in data analysis libraries like pandas, missing data might be represented by `NaN` (Not a Number) and can be handled using various techniques like imputation or deletion.

- **Database**: A database is a structured collection of data. In programming, databases are used to store, retrieve, modify, and manage data. Python offers various libraries and tools to interact with different types of databases, such as SQLite, MySQL, and PostgreSQL.

- **Spreadsheet**: A spreadsheet is a tabular arrangement of data, often used for data manipulation and analysis. In Python, libraries like pandas and openpyxl enable reading from and writing to spreadsheets in formats like Excel.

- **Data Munging**: Data munging, or data wrangling, refers to the process of cleaning, structuring, and enriching raw data into a desired format for better analysis. In Python, pandas is a commonly used library for data munging.

- **Series**: In pandas, a Series is a one-dimensional labeled array capable of holding any data type. It's essentially a single column of data and can be thought of as a specialized dictionary or a generalized NumPy array.

- **Index**: In pandas, an index is a data structure that holds the labels for the rows in a DataFrame or Series. It enables fast lookup and relational operations and can be composed of integers, strings, or even date/time objects.

- **Explicit is Better Than Implicit**: This phrase is part of "The Zen of Python," which outlines guiding principles for writing computer programs in Python. It emphasizes that code should be clear and easy to understand rather than clever and concise at the expense of readability.

- **DataFrame**: A DataFrame is a 2-dimensional labeled data structure in pandas. It's similar to a spreadsheet or SQL table and consists of rows and columns. DataFrames make it easy to manipulate, analyze, and visualize structured data.

- **Masking**: Masking in Pandas is a method of filtering data based on some criteria. It involves creating a boolean array (a mask) where True represents rows (or elements) that meet a condition, and False represents those that don't. This boolean array can then be used to index the DataFrame or Series to extract rows (or elements) that satisfy the condition.

- **In-place**: Many operations in Pandas offer an inplace parameter. When you set it to True for a method, it will modify the original DataFrame or Series directly and won't return a new object. If set it to False (often the default), then the method will return a modified copy of the object, leaving the original unchanged.

- **Query (pandas)**: In pandas, the `query` method is used to filter data using a query expression. It allows for selecting rows from a DataFrame that meet specified conditions using a concise and flexible syntax. For example, `df.query('age > 25')` would filter the DataFrame `df` to include only rows where the 'age' column is greater than 25.